body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

header {
    background: #ff9900;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #333;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

 
.hero {
    background: url("pozadina.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

 
.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px #bbb;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

 
form {
    width: 350px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

input:focus, textarea:focus {
    border-color: #ff9900;
    outline: none;
    box-shadow: 0 0 5px #ffa733;
}

button {
    padding: 12px;
    border: none;
    background: #ff9900;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e18700;
}

 
footer {
    background: #222;
    text-align: center;
    padding: 20px;
    color: white;
}

 
@media(max-width: 700px) {
    nav ul {
        flex-direction: column;
        display: none;
        background: #ff9900;
        padding: 20px;
    }

    nav ul.show {
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}
